<div class="encabezado">
  <h1>Listado de usuarios</h1>

  <input type="text" matInput [formControl]="filtroBusqueda" placeholder="Buscar" />
</div>

@if (usuarios$ | async;as usuarios) {

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre | uppercase }} </td>
    </ng-container>

    <!-- Apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let usuario"> {{ usuario.apellido | uppercase }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
    </ng-container>

    <!-- Teléfono Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let usuario"> {{ usuario.telefono }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let usuario">
        <button mat-button color="primary" [routerLink]="['/detalles-usuario', usuario.id]">Ver Usuario</button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

}
