<div class="encabezado">
  <h1>Listado de usuarios</h1>

  <input type="text" [formControl]="filtroBusqueda" placeholder="Buscar" />
</div>

@if ((usuarios$ | async)?.length) {

<div class="lista">
  @for(usuario of ((usuarios$ | async)! | filtrarNombre:cadenaBusqueda); track
  $index; let i = $index){
  <app-tarjeta [color]="(i + 1) % 2 === 0 ? 'azul' : 'verde'">
    <div>
      {{ usuario.nombre | uppercase }} {{ usuario.apellido | uppercase }}
    </div>
    <div>{{ usuario.email }}</div>
    <div>{{ usuario.telefono }}</div>
    <div class="botones">
      <app-boton-enlace
        [color]="(i + 1) % 2 === 0 ? 'azul' : 'verde'"
        [boton]="{
          label: 'Ver usuario',
          ruta: ['/', 'detalles-usuario', usuario.id.toString()]
        }"
      ></app-boton-enlace>
    </div>
  </app-tarjeta>
  }
</div>
}
