:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-900: hsl(24, 5%, 18%);
    /* Typography */
    --font-family-young-serif: 'Young Serif', serif;
    --font-family-outfit: 'Outfit', sans-serif;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}



.attribution {
    background-color: var(--color-stone-600);
    color: var(--white);
    font-family: var(--font-family-young-serif);
    font-size: 14px;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution a {
    font-family: var(--font-family-outfit);
    font-weight: var(--font-weight-regular);
    color: var(--color-stone-150);
}


@media (max-width: 375px) {

    .card {
        margin: 2rem;
        height: 40rem;
    }

    .attribution {
        font-size: 14px;

        display: flex;
        flex-direction: column;
    }
}