
:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    /* Typography */
    --font-size-paragraph: 15px;
    /* Font Family */
    --font-family: 'Outfit', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 800
}

html {
    background-color: var(--slate-300);
    font-family: var(--font-family);
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    max-width: 22rem;
    max-height: 30rem;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card__qr {
    width: 100%;
    border-radius: 1rem;
}

h3 {

    color: var(--slate-900);
    font-weight: var(--font-weight-bold);
    width: 90%;
    text-align: center;
}

p {
    font-size: var(--font-size-paragraph);
    color: var(--slate-500);
    width: 70%;
    text-align: center;
}

@media (max-width: 375px) {

    .card {
        margin: 2rem;
        height: 40rem;
    }

}