:root {
    /* Colors */
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-900: hsl(218, 44%, 22%);
}

.attribution {
    background-color: var(--slate-900);
    color: var(--white);
    font-size: 12px;

    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution a {
    color: var(--slate-300);
}


@media (max-width: 375px) {

    .card {
        margin: 2rem;
        height: 40rem;
    }

    .attribution {
        font-size: 14px;

        display: flex;
        flex-direction: column;
    }
}