:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;

    /* Colors */
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    /* Typography */
    --font-family: 'Figtree', sans-serif;
    --font-weight-regular: 500;
    --font-weight-bold: 800;
    --font-size-body: 16px;
}

html {
    background-color: var(--color-yellow);
    font-family: var(--font-family);
}

main {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.tarjeta {
    border: 3px solid black;
    background-color: var(--color-white);
    box-shadow: 10px 10px 2px -1px rgba(0, 0, 0, 0.75);
    max-width: 22rem;
    min-height: 30rem;

    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.illustration-article {
    border-radius: 0.5rem;
}

.learning {
    background-color: var(--color-yellow);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    width: min-content;
    padding: 10px;
    border-radius: 0.5rem;

}

.date {
    font-weight: var(--font-weight-regular);
    padding-left: 0.5rem;
}

.tarjeta h1 {
    font-weight: var(--font-weight-bold);
    font-size: 20px;

    &:hover {
        color: var(--color-yellow);
    }
}

.tarjeta p {
    color: var(--color-gray-500);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.avatar {
    min-height: 2rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.avatar img {
    width: 2.25rem;
}

.avatar__name {
    font-weight: var(--font-weight-bold);
}


@media (max-width: 375px) {

    main {
        padding: 2rem;
    }

    .tarjeta {
        width: 100%;
    }

    .avatar__name {
        font-size: 12px;
    }

}