@use "_variables.scss" as *;

header {
  color: map-get($colores, "blanco");
  background-color: map-get($colores, "gris_oscuro");

  width: 100%;
  min-height: 10vh;
  height: auto;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.section-logo {
  width: 30%;
  height: 10vh;
  justify-content: start;

  img {
    width: 12.5rem;
  }
}

nav {
  height: 15vh;
  min-width: 35%;
  width: auto;
  .container-nav-items {
    width: 100%;
    height: 100%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;

    div {
      border-top: 2px solid map-get($colores, "gris");

      background: linear-gradient(
        to bottom,
        transparent 50%,
        map-get($colores, "gris") 50%
      );
      background-size: 100% 200%;
      transition: background-position 0.3s ease-in-out;
    }
  }
  .nav__item {
    width: 25%;
    height: 100%;

    a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: map-get($colores, "blanco");

      img {
        margin-left: 5px;
      }
    }

    &:hover {
      background-position: 0 -100%;
    }
  }

  .menu-hamburguesa {
    display: none;
  }
}

.acciones {
  width: 30%;
  justify-content: end;

  .acciones__container {
    margin-left: 5px;

    .container__busqueda {
      .busqueda__icono {
        width: 32px;
        height: 32px;
      }
    }

    gap: 0.5rem;

    .container__login {
      width: 6.5rem;
      .boton-registrarse {
        background-color: map-get($colores, "naranja");
        height: 36px;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:active {
          transform: scale(0.95);
          transition: all 0.2s ease;
        }
        a {
          color: map-get($colores, "blanco");
          text-decoration: none;
          font-weight: 600;
        }
      }
    }

    
  }

  .input-busqueda {
    width: 60%;
  }
}

// Estilos comunes para los iconos
[class$="__icono"] {
  width: map-get($tamanios, "gigante");

  &:hover {
    scale: 1.2;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

//Ajuster para portátiles o pantallas mas pequeñas
@media screen and (max-width: 1440px) {
  .section-logo {
    img {
      width: 9rem;
    }
  }
}

// Estilos para tabletas (≤ 1024px)
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .section-logo {
    height: auto;
    width: 100%;
    text-align: center;
    a {
      width: 100%;
      img {
        width: 80%;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .container-nav-items {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      display: flex;
      visibility: hidden; // Oculta sin interrumpir la animación
      transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out,
        visibility 0.5s ease-in-out, padding 0.5s ease-in-out;

      div {
        border: 0;
      }
    }

    .menu-abierto {
      max-height: 500px;
      opacity: 1;
      visibility: visible; // Hace visible gradualmente
      padding: 10px;
    }

    .nav__item {
      width: 100%;
      text-align: center;

      a {
        display: block;
        padding: 0.5rem 0;
      }

      &:hover {
        background-position: 0 0;
      }
    }

    .item__bookmark {
      display: none;
    }
  }

  .menu-hamburguesa {
    width: 36px;
    cursor: pointer;
    .menu-icono {
      display: block;
    }
  }

  .acciones__container {
    margin-left: 0;
  }

  .acciones {
    width: 100%;
    gap: 1rem;

    justify-content: space-between;

    .input-busqueda {
      height: 36px;
      width: 70%;
    }
  }

  .noticias-boton-container {
    padding: 1rem;
  }

  [class$="__icono"] {
    &:hover {
      scale: 1;
    }
  }
}

// Estilos para móviles (≤ 768px)
@media (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  nav {
    gap: 0.25rem;
  }

  .nav__item {
    a {
      font-size: map-get($tamanios, "medio");
    }
  }

  .container__busqueda,
  .container__login {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
