* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid:
        "header header"
        "main aside"
        "footer footer"
        / 70% 30%;
}


