header {
    width: 100%;
    margin: 0 auto;

    grid-area: header;
    display: grid;

    grid:"nav nav" 3rem "logo titulo" 10rem / 30% 70%;
}

.section-logo {
    border: 1px solid black;
    grid-area: logo;
    text-align: center;
}

.section-titulo {
    border: 1px solid black;
    grid-area: titulo;
    text-align: center;
}

nav {
    border: 1px solid black;
    grid-area: nav;

    display: flex;
}

.nav__item {
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
}