@media (max-width: 768px) {
    header {
        grid:
            "logo" 6rem "titulo" 6rem "nav" 3rem / 1fr;
    }

    body {
        grid:
            "header"
            "aside"
            "main"
            "footer"
            /1fr;
    }

    main {
        margin-left: 0;
    }

    aside {
        margin-right: 0;
    }
}