* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid:
        "header header"
        "main main"
        / 30% 70%;
}

header {
    width: 100%;
    margin: 0 auto;

    grid-area: header;
    display: grid;

    grid:
        "logo titulo" 10rem "nav nav" 3rem / 30% 70%;
}

.section-logo {
    border: 1px solid black;
    grid-area: logo;
    text-align: center;
}

.section-titulo {
    border: 1px solid black;
    grid-area: titulo;
    text-align: center;
}

nav {
    border: 1px solid black;
    grid-area: nav;

    display: flex;
}

.nav__item {
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
}

main {
    width: 100%;
    margin: 0 auto;

    grid-area: main;
}

footer {
    background: rgb(44, 44, 44);
    color: #fafafa;
    width: 100%;
    height: 5rem;

    grid-area: footer;
    position: fixed;
    bottom: 0;

    text-align: center;
}