//Variables
@use "_variables.scss" as *;

.breadcrumb {
  background-color: map-get($colores, "gris_oscuro");
  color: map-get($colores, "blanco");

  a {
    text-decoration: none;
    color: map-get($colores, "blanco");
  }
}

.breadcrumb ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 0;
  align-items: center;
}

.breadcrumb li {
  margin-right: 10px;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 10px;
}

.breadcrumb li:last-child::after {
  content: "";
}