// Sass (Syntactically Awesome Stylesheets)
@use "_variables.scss" as *;
@use "_mixins.scss" as mixins;
@use "_anidacion.scss" as anidacion;

// Mixims
@mixin caja_personalizada($fondo: white) {
  background-color: $fondo;
}

body {
  background-color: $color-fondo;
}

.caja-per{
  @include caja_personalizada($fondo: white)
}

// Operadores
.caja{
  margin: 10px;
  width: 400px + 100px; // + - / *
}