@use "_variables.scss" as *;

.attribution {
    background-color: $color-dark-purple;
    color: $color-light-pink;
    font-family: $font-family-primary;
    font-size: 14px;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: end;
}

.attribution a {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    color: $color-grayish-purple;
}


@media (max-width: 375px) {

    .card {
        margin: 2rem;
        height: 40rem;
    }

    .attribution {
        font-size: 14px;

        display: flex;
        flex-direction: column;
    }
}