@use "_variables.scss" as *;
@use "_footer.scss" as *;
@use "_mixins.scss" as *;

html {
  background-color: $color-light-pink;
  font-family: $font-family-primary;
  height: 100vh;
}

main {
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: $font-size-paragraph;
}

hr{
  border: none; 
  border-top: 2px solid $color-light-pink;
}

.banner {
  background-image: url("../images/background-pattern-desktop.svg");
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: -1;
}

article {
  background-color: $color-white;
  width: 40%;
  min-height: 20rem;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  transition: 0.5s;

  //Mixins para hacer el article responsive
  @include responsive(1280px) {
    width: 70%;
  }

  @include responsive() {
    width: 90%;
    padding: 1rem 1.5rem;
  }
}

.article__despegable,
.article__encabezado {
  display: flex;
  align-items: center;
  font-weight: $font-weight-bold;
}

.encabezado__titulo {
  margin: 0;
  color: $color-dark-purple;
}

.article__despegable {
  justify-content: space-between;
  margin: 1rem 0;
}

.desplegable__h4 {
  color: $color-dark-purple;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-paragraph;
  margin-right: 0.4rem;

  &:hover {
    color: $color-svg;
  }
}

.desplegable__icono {
  cursor: pointer;
}

.encabezado__estrella {
  margin-right: 1rem;
}

.respuesta {
  margin-bottom: 1rem;
  p {
    color: $color-grayish-purple;
    font-size: $font-size-paragraph;
  }
}
